#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}
footer {
      background: #333;
      color: white;
      padding: 10px;
      text-align: center;
    }
    .app-container {
      display: flex;
      flex-direction: column;
      height: 100vh; /* Full viewport height */
    }
    
    /* Make main content take the remaining space */
    .main-content {
      flex: 1;
      padding: 20px;
      overflow: auto; /* Prevents content overflow */
    }
